@model ApiMovieViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <form class="form-group">
        <label>Başlık</label>
        <input type="text" class="form-control" value="@Model.title" />
        <br />
        <label>Rating</label>
        <input type="text" class="form-control" value="@Model.rating" />
        <br />
        <label>Yıl</label>
        <input type="text" class="form-control" value="@Model.year" />
        <br />
        <label>Açıklama</label>
        <input type="text" class="form-control" value="@Model.description" />
        <br />
    </form>

</div>